@{
                /**/

                ViewBag.Title = "About";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>
        Everyday Health & Fitness;
    </title>
</head>
<body>
    <div class="box-row">
        <span><b>Our main location of operations</b></span>
    </div>

        <form id="form1" runat="server">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.2853192632606!2d145.0420786150658!3d-37.87700967974096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6698cb33e0ac1%3A0x63f9134ad6bf7a0a!2sMonash+University!5e0!3m2!1sen!2sau!4v1537201076960" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </form>
    
</body>
</html>
