@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2><b>Find distance to multiple locations of events</b></h2>
        <p>
            <b>Enter your from location and event location correctly.</b>
        </p>

        <div> Add Destination</div>
        <div>
            <input id="travelto" type="text" name="name" value="Monash University, Caulfield" />
            <input type="button" value="Add" onclick="PushDestination()" />

        </div>
        <div id="destinations"></div><br />
        Source : <input id="travelfrom" type="text" name="name" value="5 Helenslea Road, Caulfield" />   <br />  <br />


        <input type="button" value="Calculate" onclick="GetRoute()" />
        <p></p>
        <br />
        <div id="dvDistance">
            <table id="tblResults" border="1" cellpadding="10">
                <tr>
                    <th> Start </th>
                    <th> End </th>
                    <th> Distance </th>
                    <th> Duration </th>
                </tr>
            </table>

        </div>

        <p></p>

        <div id="dvMap" style="min-height:500px"></div>

    </div>
</div>

@section scripts{

    <!--code sourced from google developers from the section of javascripts and tutorials -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=APIKEYHERE" type="text/javascript"></script>

    <script>


        var source, destination;
        var locations = [];
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();

        // initialise the location of the map on Chichester in England (ref lat and lng)
        var map = new google.maps.Map(document.getElementById('dvMap'), {
            center: { lat: -37.805067, lng: 144.9631 },
            zoom: 13,
            mapTypeId: 'roadmap'
        });

        google.maps.event.addDomListener(window, 'load', function () {
            new google.maps.places.SearchBox(document.getElementById('travelfrom'));
            new google.maps.places.SearchBox(document.getElementById('travelto'));
            directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': true });
        });

        function PushDestination() {
            destination = document.getElementById("travelto").value;
            locations.push(destination);
            document.getElementById("travelto").value = "";
            destinationArray = document.getElementById("destinations");
            destinationArray.innerHTML += destination + "<br />";
        }

        function setDestination(dest) {
            document.getElementById('travelto').value = dest;
            PushDestination();
        }


        function GetRoute() {

            directionsDisplay.setMap(map);

            source = document.getElementById("travelfrom").value;
            destination = document.getElementById("travelto").value;

            var waypoints = [];
            for (var i = 0; i < locations.length; i++) {
                var address = locations[i];
                if (address !== "") {
                    waypoints.push({
                        location: address,
                        stopover: true
                    });
                }
            }

            var request = {
                origin: source,
                destination: waypoints[0].location,
                waypoints: waypoints, //an array of waypoints
                optimizeWaypoints: true, //set to true if you want google to determine the shortest route or false to use the order specified.
                travelMode: google.maps.DirectionsTravelMode.DRIVING
            };

            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    var dvDistance = document.getElementById("dvDistance");
                    var distance = 0;
                    var minute = 0.00;
                    response.routes[0].legs.forEach(function (item, index) {
                        if (index < response.routes[0].legs.length - 1) {
                            distance = distance + parseInt(item.distance.text);
                            minute = parseFloat(minute) + parseFloat(item.duration.value / 60);

                            tbl = document.getElementById("tblResults");
                            var row = tbl.insertRow(1);
                            var cell = row.insertCell(0);
                            cell.innerText = source;
                            var cell = row.insertCell(1);
                            cell.innerText = item.end_address;
                            var cell = row.insertCell(2);
                            cell.innerText = distance;
                            var cell = row.insertCell(3);
                            cell.innerText = minute.toFixed(2) + " min";
                        }
                    });
                    directionsDisplay.setDirections(response);
                }
                else {
                    //handle error
                }
            })
        };

    </script>
}