
@{
    ViewBag.Title = "SuccessMessage";
}

<h2>You are registered for the event. We will send you email invites at the end of the day</h2>


<div>
    @Html.ActionLink("Back to List", "Index", "FitnessEvents")
</div>
